<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div class="container" style="border: black solid 2px">
        <div class="col-6">
            <h1>[[${name}]]</h1>
        </div>
        <div>
            <div id="msgArea" class="col"></div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
<a href="/crewchat">나가기</a>
</body>
<script th:inline="javascript">

    //history.replaceState({}, null, location.pathname);

        var roomName = [[${name}]];
        var roomId = [[${roomId}]];
        var username = [[${#authentication.principal.username}]];

        console.log(roomName + ", " + roomId + ", " + username);

    $.ajax({
        type : "POST",
        url : "/crewchat/chatroom/roomCheck",
        data : {userId : username, roomId : roomId, name : roomName},
        success : function(data){
            console.log(data.roomId === roomId)
            console.log(data.userId === username)
            console.log(data.name === roomName)
            if(data.roomId === roomId && data.userId === username && data.name === roomName){
                console.log("asdasd")
                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function () {
                    console.log("STOMP Connection")

                    //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                    stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                        var content = JSON.parse(chat.body);

                        var writer = content.writer;
                        var str = '';
                        var message = content.message;

                        if (writer === username) {
                            str = "<div class='col-6'>";
                            str += "<div class='alert alert-secondary'>";
                            str += "<b>" + writer + " : " + message + "</b>";
                            str += "</div></div>";
                            $("#msgArea").append(str);
                        } else {
                            str = "<div class='col-6'>";
                            str += "<div class='alert alert-warning'>";
                            str += "<b>" + writer + " : " + message + "</b>";
                            str += "</div></div>";
                            $("#msgArea").append(str);
                        }
                    });

                    //3. send(path, header, message)로 메세지를 보낼 수 있음
                    stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
                });

                $("#button-send").on("click", function (e) {
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
                    msg.value = '';
                });
            }else{
                history.back();
            }

        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
            alert("통신 실패.")
        }
    });







</script>

</html>