.login-form {
    width: 400px;
    margin: 180px auto;
    padding: 60px 70px;
    text-align: center;
    border: 1px solid #dbdbdb;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-form  form input::placeholder {
    color: rgb(211, 211, 211);
    font-weight: bold;
}

.login-form .login-title {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 900;
    font-size: 28px;
    padding: 30px 0;
}
   
.login-form .text-field {
    font-size: 14px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    background-color: transparent;
    width: 260px;
    margin-top: 10px;
    transition-duration: .5s;
}

.login-form .text-field:focus{
    transition-duration: .5s;
    border-bottom: 2px solid #1f85ad;
}

.login-form .submit-btn {
    font-family: 'NanumSquare', sans-serif;
    font-size: 14px;
    width: 260px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1f85ad;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}

.login-form .login-line {
    display: block;
    width: 258px;
    height: 1px;
    border-radius: 5px;
    background-color: #dbdbdb;
    margin: 8px 0;
}

.login-form .submit-btn-kakao {
    position: relative;
    display: block;
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    width: 260px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    background-color: #fee500;
    color: #3c1e1e;
    cursor: pointer;
}

.login-form .submit-btn-kakao img {
    position: absolute;
    width: 28px;
    top: 16px;
    left: 22px;
}

.login-form .submit-btn-kakao span {
    margin-left: 36px;
}

.login-form .submit-btn-google {
    position: relative;
    display: block;
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    width: 260px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.login-form .submit-btn-google img {
    position: absolute;
    width: 30px;
    top: 13px;
    left: 20px;
}

.login-form .submit-btn-google span {
    margin-left: 18px;
}

.login-form .login-links {
    text-align: left;
    padding-top: 10px;
}
 
.login-form .login-links a {
  font-size: 12px;
  color: #2b2b2b;
  text-decoration: none;
}

.login-form .login-links .login-find {
    padding-left: 86px;
}

.login-form .login-links .login-signup {
    color: #1f85ad;
}