<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js"></script>
</head>
<body>
<div sec:authorize-expr="isAuthenticated()">
    <h2 id="name" sec:authentication="name">Name</h2>
    <a id="a" href="/logout" th:href="@{/logout}">Logout</a>
    <ul id="search">
        <h2>가입한 유저 목록</h2>
    </ul>
</div>
<div id="room-div">
    <input type="text" id="room-name" name="name" class="form-control">
    <button class="btn btn-secondary">개설하기</button>

</div>
<div id="room-list">
<ul id="room-list-ul">

</ul>
</div>
<div id="room-chat">

</div>
<input type="text" id="msg" class="form-control">
<div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
</div>
<a href="/chat/roomw?roomId=asd">asdsad</a>
</body>
<script th:inline="javascript">

    $.ajax({
        type : "POST",
        url : "/crewchat/user/getList",
        data : {email : $("#name").text()},
        success : function(data){
            $.each(data, function(index, ele){
                $("#search").append("<li data-email="+ele.email+">"+ele.email+"<button class='asd'>추가</button><button class='asdd'>수락</button></li>")
            })
        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
            alert("통신 실패.")
        }
    });
    $.ajax({
        type : "POST",
        url : "/crewchat/user/getMyInfo",
        data : {email : $("#name").text()},
        success : function(data){
            console.log(data)
        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
            alert("통신 실패.")
        }
    });

    $("ul").on("click", ".asd", function (){
        console.log("클릭")
        console.log($(this).parent().data("email"))

        $.ajax({
            type : "POST",
            url : "/crewchat/friendPost/requestFriend",
            data : {sender : $("#name").text(), receiver : $(this).parent().data("email")},
            success : function(data){
                console.log(data)
            },
            error : function(XMLHttpRequest, textStatus, errorThrown){
                alert("통신 실패.")
            }
        });
    })

    $("ul").on("click", ".asdd", function (){
        console.log("클릭")
        console.log($(this).parent().data("email"))

        $.ajax({
            type : "POST",
            url : "/crewchat/friendPost/acceptFriend",
            data : {sender : $(this).parent().data("email"), receiver : $("#name").text()},
            success : function(data){
                console.log(data)
            },
            error : function(XMLHttpRequest, textStatus, errorThrown){
                alert("통신 실패.")
            }
        });
    })

    $.ajax({
        type : "POST",
        url : "/crewchat/chatroom/getListWhereMyEmail",
        data : {userId : [[${#authentication.principal.username}]]},
        success : function(data){
            $.each(data, function(index, ele){
                console.log(ele)
                console.log(index)
                $("#room-list-ul").append("<li><a href='chat/roomw?roomId="+ele.roomId+"'>"+ele.name+"</a></li>")
               // $("#room-list-ul").append("<li data-id='"+ele.roomId+"'>"+ele.name+"</li>")
            })

        },
        error : function(XMLHttpRequest, textStatus, errorThrown){
            alert("통신 실패.")
        }
    });
    $("#room-list-ul").on("click", "li", function (){
        console.log("클릭")
        console.log($(this))
        console.log($(this).data("id"))
        console.log($(this)[0].data("id"))
    })


    $("#room-div").on("click", ".btn", function (){
       console.log("개설하기 클릭")
        $.ajax({
            type : "POST",
            url : "/crewchat/chatroom/add",
            data : {name: $("#room-name").val()},
            success : function(data){
                $("#room-list-ul").append("<li data-room-id='"+data.roomId+"' data-room-name='"+data.name+"' id='"+data.roomId+"'>"+data.name+"</li>")
            },
            error : function(XMLHttpRequest, textStatus, errorThrown){
                alert("통신 실패.")
            }
        });
    })


</script>
</html>