<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.js"></script>
</head>
<body>
<div sec:authorize-expr="isAuthenticated()">
    <h2 id="name" sec:authentication="name">Name</h2>
    <a id="a" href="/logout" th:href="@{/logout}">Logout</a>
</div>
<div>
    <ul id="search">
        <h2>회원 유저 목록</h2>
    </ul>
</div>
<div>
    <ul id="friend">
        <h2>친구 목록</h2>
    </ul>
</div>
<div id="room-div">
    <input type="text" id="room-name" name="name" class="form-control">
    <button class="btn btn-secondary">개설하기</button>

</div>
<div id="room-list">
    <ul id="room-list-ul">

    </ul>
</div>
</body>
<script th:inline="javascript">

    $.ajax({
        type: "POST",
        url: "/crewchat/user/getList",
        data: {email: $("#name").text()},
        success: function (data) {

            $.each(data, function (index, ele) {
                $("#search").append("<li data-email=" + ele.email + ">" + ele.email + "<button data-friend-email=" + ele.email + " class='add-friend'>추가</button></li>")
            })
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("통신 실패.")
        }
    });

    $.ajax({
        type: "POST",
        url: "/crewchat/friend/getListMyFriend",
        data: {myEmail: [[${#authentication.principal.username}]]},
        success: function (data) {
            $.each(data, function (index, ele) {

                $("#friend").append("<li data-email=" + ele.friendEmail + ">" + ele.friendEmail + "</li>")
            })
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("통신 실패.")
        }
    });


    $("ul").on("click", ".add-friend", function () {

        $.ajax({
            type: "POST",
            url: "/crewchat/friend/add",
            data: {myEmail: [[${#authentication.principal.username}]], friendEmail : $(this).data("friend-email")},
            success: function (data) {

                if(data.friendId!=null){
                    $("#friend").append("<li data-email=" + data.friendEmail + ">" + data.friendEmail + "</li>")
                }


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    })

    $.ajax({
        type: "POST",
        url: "/crewchat/chatroom/getListWhereMyEmail",
        data: {email: [[${#authentication.principal.username}]]},
        success: function (data) {
            $.each(data, function (index, ele) {

                $("#room-list-ul").append("<li><a href='crewchat/chat?roomId=" + ele.roomId + "'>" + ele.roomName + "</a></li>")
                // $("#room-list-ul").append("<li data-id='"+ele.roomId+"'>"+ele.name+"</li>")
            })

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert("통신 실패.")
        }
    });
    $("#room-list-ul").on("click", "li", function () {

    })


    $("#room-div").on("click", ".btn", function () {

        $.ajax({
            type: "POST",
            url: "/crewchat/chatroom/add",
            data: {roomName: $("#room-name").val()},
            success: function (data) {
                $("#room-list-ul").append("<li data-room-id='" + data.roomId + "' data-room-name='" + data.roomName + "' id='" + data.roomId + "'>" + data.roomName + "</li>")
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("통신 실패.")
            }
        });
    })


</script>
</html>