<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
    <title>회원가입창</title>
    <link th:href="@{/css/signup.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <section class="wrap">
        <div class="signup-form">
            <div class="signup-title">CREW CHAT</div>
            <div class="emailwrap">
                <input type="text" name="email" id="email" class="text-field" placeholder="이메일" autocomplete="off">
                <span class="error-check"></span>
            </div>
            <div class="passwordwrap">
                <input type="password" name="password" id="password1" class="text-field" placeholder="비밀번호">
                <span class="error-check"></span>
            </div>
            <div class="password-checkwrap">
                <input type="password" name="passwordcheck" id="password2" class="text-field" placeholder="비밀번호 확인">
                <span class="error-check"></span>
            </div>
            <div class="namewrap">
                <input type="text" name="name" id="name" class="text-field" placeholder="이름" autocomplete="off">
                <span class="error-check"></span>
            </div>
            <button id="submit-btn" value="가입" class="submit-btn" >가입</button>
            <a th:href="@{/}" class="link">로그인화면으로</a>
        </div>
    </section>
    <script th:src="@{/js/signup.js}"></script>
</body>
</html>