<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
    <title>로그인 창</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
    <section id="wrap">
        <div class="login-form">
            <div class="login-title">CREW CHAT</div>
            <form method="post" action="/crewchat/sign">
                <input type="text" name="id" class="text-field" placeholder="아이디">
                <input type="password" name="password" class="text-field" placeholder="비밀번호">
                <input type="submit" value="로그인" class="submit-btn">
                <span class="login-line"></span>
            </form>
            <a href="/crewchat/oauth2/authorization/kakao" class="submit-btn-kakao"><img th:src="@{/img/pngegg (1).png}" alt=""><span>카카오 로그인</span></a>
            <a href="/crewchat/oauth2/authorization/google" class="submit-btn-google"><img th:src="@{/img/구글__2_100.png}" alt=""><span>구글 로그인</span></a>
            <div class="login-links">
                <a th:href="@{/signUp}" class="login-signup">회원가입</a>
                <a href="#" class="login-find" >아이디 | 비밀번호 찾기</a>
            </div>
        </div>
    </section>
</body>
</html>